/* Importing Compass Tools */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* General */
body {
  background: #171D25;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  font-size: 16px; }

a, a:hover, a:active, a:visited, a:focus, button, button:hover, button:active, button:visited, button:focus {
  outline: none !important; }

.main-container {
  width: 100%;
  position: relative;
  overflow: auto;
  height: 100%; }

.counter-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 15px 0;
  width: 30%;
  min-width: 295px;
  max-height: 390px; }
  .counter-container h1 {
    font-size: 36px;
    display: block;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-variant: small-caps;
    margin-bottom: 8px;
    line-height: 100%; }
  .counter-container .gauge-container {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    /* Ticks colors */ }
    .counter-container .gauge-container span.ticker {
      display: block;
      float: left;
      background: #344254;
      width: 3.1%;
      margin-right: 2%;
      height: 55px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -moz-transition: background, 0.5s, linear;
      -o-transition: background, 0.5s, linear;
      -webkit-transition: background, 0.5s, linear;
      transition: background, 0.5s, linear; }
      .counter-container .gauge-container span.ticker:last-child {
        margin-right: 0; }
    .counter-container .gauge-container span.ticker.active.tick-1 {
      background: #0E1CAD; }
    .counter-container .gauge-container span.ticker.active.tick-2 {
      background: #1C28AB; }
    .counter-container .gauge-container span.ticker.active.tick-3 {
      background: #202BA6; }
    .counter-container .gauge-container span.ticker.active.tick-4 {
      background: #2D37A6; }
    .counter-container .gauge-container span.ticker.active.tick-5 {
      background: #3D45A5; }
    .counter-container .gauge-container span.ticker.active.tick-6 {
      background: #4D53A5; }
    .counter-container .gauge-container span.ticker.active.tick-7 {
      background: #5E63A5; }
    .counter-container .gauge-container span.ticker.active.tick-8 {
      background: #D5CC72; }
    .counter-container .gauge-container span.ticker.active.tick-9 {
      background: #E8D941; }
    .counter-container .gauge-container span.ticker.active.tick-10 {
      background: #FDE812; }
    .counter-container .gauge-container span.ticker.active.tick-11 {
      background: #FFE800; }
    .counter-container .gauge-container span.ticker.active.tick-12 {
      background: #FFC200; }
    .counter-container .gauge-container span.ticker.active.tick-13 {
      background: #FFA500; }
    .counter-container .gauge-container span.ticker.active.tick-14 {
      background: #FF7E00; }
    .counter-container .gauge-container span.ticker.active.tick-15 {
      background: #FF7E00; }
    .counter-container .gauge-container span.ticker.active.tick-16 {
      background: #FF7400; }
    .counter-container .gauge-container span.ticker.active.tick-17 {
      background: #FF6100; }
    .counter-container .gauge-container span.ticker.active.tick-18 {
      background: #FF5700; }
    .counter-container .gauge-container span.ticker.active.tick-19 {
      background: #FF4D00; }
    .counter-container .gauge-container span.ticker.active.tick-20 {
      background: #FF0000; }
  .counter-container p.status {
    color: #FFF;
    display: block;
    margin: 12px auto 10px auto;
    width: 100%;
    text-align: center; }
  .counter-container form.guess-container {
    display: block;
    width: 85%;
    margin: 12px auto 10px auto;
    position: relative;
    overflow: hidden; }
    .counter-container form.guess-container .guess-input {
      position: relative;
      overflow: hidden; }
      .counter-container form.guess-container .guess-input a.start {
        display: block;
        text-decoration: none;
        color: #FFF;
        background: #2588DB;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        padding: 8px 0;
        width: 100%;
        line-height: 130%;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -moz-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear; }
        .counter-container form.guess-container .guess-input a.start:hover {
          background: #4499e0; }
    .counter-container form.guess-container input {
      outline: none;
      line-height: 120%;
      display: block; }
      .counter-container form.guess-container input[type="text"] {
        width: 94%;
        padding: 8px 3%;
        border: 0;
        font-size: 16px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
      .counter-container form.guess-container input[type="submit"] {
        cursor: pointer;
        position: absolute;
        font-size: 16px;
        padding: 8px;
        border: 0;
        background: #2588DB;
        color: #FFF;
        display: block;
        top: 0;
        right: 0;
        -webkit-appearance: none;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -moz-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear; }
        .counter-container form.guess-container input[type="submit"]:hover {
          background: #4499e0; }
    .counter-container form.guess-container .guess-tools {
      display: none; }
      .counter-container form.guess-container .guess-tools button {
        display: block;
        width: 49%;
        margin-right: 2%;
        padding: 8px;
        border: 0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: #FFF;
        font-size: 16px;
        margin-top: 8px;
        float: left;
        cursor: pointer;
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -moz-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear; }
      .counter-container form.guess-container .guess-tools .hint {
        background: #FC0107; }
        .counter-container form.guess-container .guess-tools .hint:hover {
          background: #fe2328; }
      .counter-container form.guess-container .guess-tools .reset {
        background: #06ae06;
        margin-right: 0; }
        .counter-container form.guess-container .guess-tools .reset:hover {
          background: #07d107; }
      .counter-container form.guess-container .guess-tools .moves-counter {
        color: #FFF;
        float: right;
        margin-top: 8px; }
        .counter-container form.guess-container .guess-tools .moves-counter i {
          font-size: 22px;
          line-height: 110%; }

.popup-container {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: none; }
  .popup-container .popup-close {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: top 0.15s linear;
    -o-transition: top 0.15s linear;
    -webkit-transition: top 0.15s linear;
    transition: top 0.15s linear; }
    .popup-container .popup-close .fa-times {
      text-decoration: none;
      color: #FFF;
      font-size: 25px;
      line-height: 0;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -moz-transition: font-size 0.15s linear;
      -o-transition: font-size 0.15s linear;
      -webkit-transition: font-size 0.15s linear;
      transition: font-size 0.15s linear; }
    .popup-container .popup-close:hover {
      top: 30px; }
      .popup-container .popup-close:hover .fa-times {
        font-size: 35px; }
  .popup-container .popup {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
    .popup-container .popup .popup-wrapper {
      margin: 0 auto;
      width: 80%;
      max-width: 600px;
      padding: 15px 5%;
      background: #344254;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      color: #FFF; }
      .popup-container .popup .popup-wrapper h2 {
        font-size: 24px; }
      .popup-container .popup .popup-wrapper a.restart {
        display: block;
        text-decoration: none;
        color: #FFF;
        background: #2588DB;
        margin: 0 auto;
        text-align: center;
        padding: 8px 0;
        width: 50%;
        min-width: 200px;
        line-height: 130%;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -moz-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear; }
        .popup-container .popup .popup-wrapper a.restart:hover {
          background: #4499e0; }
