/* Importing Compass Tools */
@import "compass/reset";
@import "compass/css3";
@import "compass/support";

$dark-blue: #171D25;
$light-blue: #2588DB;
/* General */
body {
	background: $dark-blue;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

a, a:hover, a:active, a:visited, a:focus, button, button:hover, button:active, button:visited, button:focus {
	outline:none !important;
}

.main-container {
	width: 100%;
	overflow: auto;
	height: 100%;
}

.counter-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 15px 0;
	width: 30%;
	min-width: 295px;
	max-height: 390px;
	
	h1 {
		font-size: 36px;
		display: block;
		text-align: center;
		width:100%;
		color: #FFF;
		font-variant: small-caps;
		margin-bottom: 8px;
		line-height: 100%
	}
	
	.gauge-container {
		width: 85%;
		margin: 0 auto;
		overflow: hidden;
		
		$ticker-margin: 2%;
		$number-of-tickers :20;
		span.ticker {
			display: block;
			float: left;
			background: lighten($dark-blue, 15%);
			width: ((100% - ($ticker-margin*($number-of-tickers - 1)))/$number-of-tickers);
			margin-right: $ticker-margin;
			height: 55px;
			@include border-radius(5px);
			@include translate3d(0,0,0);
			&:last-child {
				margin-right: 0;
			}
		}
		
		/* Ticks colors */
		$tick-color: #0E1CAD, #1C28AB, #202BA6, #2D37A6, #3D45A5, #4D53A5, #5E63A5, #D5CC72, #E8D941, #FDE812, #FFE800, #FFC200, #FFA500, #FF7E00, #FF7E00, #FF7400, #FF6100, #FF5700, #FF4D00, #FF0000;
		
		@for $i from 1 through 20 {
			span.ticker.active.tick-#{$i} {@include transition(background, 0.5s, linear); background: nth($tick-color, $i)}
		}
	} // End of gauge-container
	
	p.status {
		color: #FFF;
		display: block;
		margin: 12px auto 10px auto;
		width: 100%;
		text-align: center;
		line-height: 130%;
	} // End of status
	
	form.guess-container {
		display: block;
		width:  85%;
		margin: 12px auto 10px auto;
		position: relative;
		overflow: hidden;

		.guess-input {
			position: relative;
			overflow: hidden;
			a.start {
				display: block;
				text-decoration: none;
				color: #FFF;
				background: $light-blue;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				padding: 8px 0;
				width: 100%;
				line-height: 130%;
				@include border-radius(4px);
				@include translate3d(0 ,0, 0);
				@include transition(background 0.3s linear);
				
				&:hover {
					background: lighten($light-blue, 7%);
				}
			}
		} // End of guess-input
		
		input {
			outline: none;
			line-height: 120%;
			display: block;
			
			&[type="text"] {
				width: 94%;
				padding: 8px 3%;
				border: 0;
				font-size: 16px;
				@include border-radius(4px);
			}
			
			&[type="submit"] {
				cursor: pointer;
				position: absolute;
				font-size: 16px;
				padding: 8px;
				border: 0;
				background: $light-blue;
				color:#FFF;
				display: block;
				top:0;
				right:0;
				-webkit-appearance: none;
				@include border-top-right-radius(3px);
				@include border-bottom-right-radius(3px);
				@include translate3d(0 ,0, 0);
				@include transition(background 0.3s linear);
				
				&:hover {
					background: lighten($light-blue, 7%);
				}
			}
		} // end of input

		.guess-tools {
			display: none;
		
			button {
				display: block;
				width: 49%;
				margin-right: 2%;
				padding: 8px;
				border: 0;
				@include border-radius(4px);
				color: #FFF;
				font-size: 16px;
				margin-top: 8px;
				float: left;
				cursor: pointer;
				@include translate3d(0 ,0, 0);
				@include transition(background 0.3s linear);
			}
			
			.hint {
				background: #FC0107;
				&:hover {
					background: lighten(#FC0107, 7%);
				}
			}
			
			.reset {
				background: #06ae06;
				margin-right: 0;
				&:hover {
					background: lighten(#06ae06, 7%);
				}
			}
			
			.moves-counter {
				color: #FFF;
				float: right;
				margin-top: 8px;
				
				i {
					font-size: 22px;
					line-height: 110%;
				}
			}
		} // End of guess-tools
	} // End of guess-container
} // End of counter-container

.popup-container {
	background: rgba(#000, 0.9);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom:0;
	display: none;
	overflow: auto;
	.popup-close {
		display: inline-block;
		position: absolute;
		top: 25px;
		right: 25px;
		@include translate3d(0 ,0, 0);
		@include transition(top 0.15s linear);
		.fa-times {
			text-decoration: none;
			color: #FFF;
			font-size: 25px;
			line-height: 0;
			@include translate3d(0 ,0, 0);
			@include transition(font-size 0.15s linear);
		}

		&:hover {
			top: 30px;
			.fa-times {
				font-size: 35px;
			}
		}
	}

	.popup {
		display: table-cell;
		vertical-align: middle;
		width: 100%;

		.popup-wrapper {
			margin: 20px auto;
			width: 80%;
			max-width: 600px;
			padding: 15px 5%;
			background: lighten($dark-blue, 15%);
			@include border-radius(8px);
			color: #FFF;

			h2 {
				font-size: 24px;
			}

			a.restart {
				display: block;
				text-decoration: none;
				color: #FFF;
				background: $light-blue;
				margin: 0 auto;
				text-align: center;
				padding: 8px 0;
				width: 50%;
				min-width: 200px;
				line-height: 130%;
				@include border-radius(4px);
				@include translate3d(0 ,0, 0);
				@include transition(background 0.3s linear);
				
				&:hover {
					background: lighten($light-blue, 7%);
				}
			}

			.ending-container {
				text-align: center;
				.gif {
					display: block;
					margin: 0 auto 20px auto;
					width: 100%;
					max-width: 480px;
				}

				a {
					margin-top: 10px;
				}
			} // Ending container
		}
	}
} // End of popup-container